@import './variables';
@import './navbar';
@import './login';
@import './polls';
@import './poll';


body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: $color-cadetBlue;
}

.root {
    width: 100%;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}