nav {
    width: 100%;
    background-color: $color-superNova; 
}
.navbar-brand {
    color: $color-curiousBlue;
    font-size: 2rem;
}
.navbar-toggle {
    background-color: $color-superNova; 
    border: 0.1rem solid $color-curiousBlue;
}
.navbar-collapse{
    font-size: 1rem;
    border-top: 0.1rem solid $color-curiousBlue;
}


.icon-bar {
    background-color: $color-curiousBlue;
}

