.poll-canvas {
    margin: 15rem 0 0 0;
    background-color: #fff;
}
.chart-board {
    margin: auto;
}
.poll, .pie-chart {
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.poll label {
    font-size: 2rem;
}

.poll ol {
    font-size: 1.5rem;
}

.pie-chart {
    margin-top: 5rem;
}


